<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cyw.usercenter.Mapper.CommentsMapper">

    <resultMap id="BaseResultMap" type="cyw.usercenter.model.domain.Comments">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="noteId" column="noteId" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="INTEGER"/>
            <result property="uploadTime" column="uploadTime" jdbcType="TIMESTAMP"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,noteId,userId,
        uploadTime,content
    </sql>
</mapper>
