<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cyw.usercenter.mapper.ImagesMapper">

    <resultMap id="BaseResultMap" type="cyw.usercenter.model.domain.Images">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="noteId" column="noteId" jdbcType="INTEGER"/>
            <result property="imageIndex" column="imageIndex" jdbcType="INTEGER"/>
            <result property="imageUrl" column="imageUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,noteId,imageIndex,
        imageUrl
    </sql>
</mapper>
